langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-classic
python-dotenv
sentence-transformers
faiss-cpu
pypdf
openai
fastapi
uvicorn
pydantic
python-multipart